*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background: white;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
#fixed-header{
  z-index: 1;
  position: fixed;
  width: 100%;
  margin-top: 0%;
}
header{
  background: white;
  width: 100%;
  margin-top: 0%; 
  margin-bottom: 0%;
  padding: 4% 0% 1% 0%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background:rgb(0,230,233);
  border-bottom: 10px solid rgb(221,242,242);
  border-radius: 0px;
}
#app-name{
  background: linear-gradient( to right,rgb(250,251,231),rgb(159,254,255),rgb(0,230,233) 70%);
  background-size: 64px 48px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 127590% 9240% 19920%;border-right: 20px dotted rgb(0,230,233);
  border-left: 3px dotted rgb(0,230,233);
    border-top: 1.2px double rgb(0,230,233);
    border-bottom: 3px solid rgb(0,230,233);
  text-transform: lowercase;
  font-family: "Climate Crisis", sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: rgb(5,0,124);
    margin: 0% 14% 1% 1%;
    padding: 1% 2% 1% 22%;
}
.header-shadow-space{
  margin-bottom: 17%;
}
#inspiration-video{
  background: rgba(127,127,127,0.275);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  border-top: 1px groove rgba(127,127,127,0.275);
  border-bottom: .5px inset grey;
  border-left: .5px inset grey;
  border-right: .5px inset grey;
  transition-delay: 2s;
  transition: width 2s, opacity 2s;
  transition-timing-function: ease-in-out;
  
}
#daily-video{
  position: center; 
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    min-width: 30%; 
    min-height: 10%;
    width: 100%; 
    height: auto; 
  
    background-size: cover;
    border-radius: 7px;
}
#insplay-btn{
  position: absolute;
  top: 162px;
  right: 165px;
  font-size: 35px;
  color: white;
  
  transition: linear .275s;

  

}
#enaivoc-intro{
  opacity: 0.6;
  margin-top: 10%;
  background: rgba(127,127,127,0.275);
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  border-top: 1px groove rgba(127,127,127,0.275);
  border-bottom: .5px inset grey;
  border-left: .5px inset grey;
  border-right: .5px inset grey;
  transition-delay: 2s;
  transition: width 2s, opacity 1s;
  transition-timing-function: ease-in;
  
}
#intro-video{
  position: center; 
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    min-width: 30%; 
    min-height: 50%;
    width: 100%; 
    height: auto; 
  
    background-size: cover;
    border-radius: 7px;
}

#introplay-btn{
  position: absolute;
  top: 301px;
  right: 165px;
  font-size: 35px;
  color: white;
  visibility: hidden;
}