#stop-landscape{
  position: absolute;
  left: -9999px;
  top: -9999px;
}
#lesson-menu{
  position: absolute;
  top: 90px;
  left: 0%;
  font-size: 13px;
  font-weight: 200;
  font-family: "Gluten", cursive;
  visibility: hidden;
}
#home-page{

}
#dropdown-menu{
  background: rgba(127,127,127,0.275);
  border-radius: 4px;
  width: 230px;
  height: 25vh;
  margin-right: 0;
  margin-left: 0;
   font-size: 16px;
  font-family: "Gluten", cursive;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background: white;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
#info-text{
  font-family: "Gluten", cursive;
  margin-top: 3%;
}
#start-piano{
  background:linear-gradient(to right, rgb(245,255,13),rgb(0,230,233)) ;
  border: none;
  border: .0001px groove rgb(0,230,233);
  border-radius: 5px;
  width: 40%;
  height: auto;
  color: rgba(255,255,255,0.525);
  font-weight: 700;
  min-height: 40px;
  font-family: 'gluten',cursive;
  margin-top: 3%;
}
#fixed-header{
  z-index: 1;
  position: fixed;
  width: 100%;
  margin-top: 0%;
}
header{
  background: white;
  width: 100%;
  margin-top: 0%; 
  margin-bottom: 0%;
  padding: 4% 0% 1% 0%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background:rgb(0,230,233);
  border-bottom: 10px solid rgb(221,242,242);
  border-radius: 0px;
}
#app-name{
  background: linear-gradient( to right,rgb(250,251,231),rgb(159,254,255),rgb(0,230,233) 70%);
  background-size: 64px 48px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 127590% 9240% 19920%;border-right: 20px dotted rgb(0,230,233);
  border-left: 3px dotted rgb(0,230,233);
    border-top: 1.2px double rgb(0,230,233);
    border-bottom: 3px solid rgb(0,230,233);
  text-transform: lowercase;
  font-family: "Climate Crisis", sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: rgb(5,0,124);
    margin: 0% 14% 1% 1%;
    padding: 1% 2% 1% 22%;
}
.header-shadow-space{
  margin-bottom: 17%;
}
#inspiration-video{
  position: relative;
  background: rgba(127,127,127,0.275);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  border-top: 1px groove rgba(127,127,127,0.275);
  border-bottom: .5px inset grey;
  border-left: .5px inset grey;
  border-right: .5px inset grey;
  transition-delay: 2s;
  transition: width 2s, opacity 2s;
  transition-timing-function: ease-in-out;
  
}
#daily-video{
  position: center; 
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    min-width: 30%; 
    min-height: 10%;
    width: 100%; 
    height: auto; 
  
    background-size: cover;
    border-radius: 7px;
}
#insplay-btn{
  position: fixed;
  top: 30%;
  right: 46%;
  font-size: 30px;
  color: #ddff10;
  transition: linear .2s;
  visibility: visible;

  

}
#enaivoc-intro{ 
  position: relative;
  opacity: 0.6;
  margin-top: 10%;
  background: rgba(127,127,127,0.275);
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  border-top: 1px groove rgba(127,127,127,0.275);
  border-bottom: .5px inset grey;
  border-left: .5px inset grey;
  border-right: .5px inset grey;
  transition-delay: 2s;
  transition: width 2s, opacity 1s;
  transition-timing-function: ease-in;
  
}
#intro-video{
  position: center; 
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    min-width: 30%; 
    min-height: 50%;
    width: 100%; 
    height: auto; 
    background-size: cover;
    border-radius: 7px;

}
#introplay-btn{
  position: absolute;
  top: 30%;
  right: 46%;
  font-size: 30px;
  color: #ddff10;
  visibility: hidden;
}
h2{
  font-size: 10px;
  font-family: "Gluten", cursive;
  text-transform: lowercase;
  font-weight: 100;
  margin-top: 4%;
}
#begin{
  margin-top: 15%;
  background:linear-gradient(to right, rgb(245,255,13),rgb(0,230,233)) ;
  border: none;
  border: .0001px groove rgb(0,230,233);
  border-radius: 5px;
  width: 40%;
  height: auto;
  color: rgba(255,255,255,0.525);
  font-weight: 700;
  min-height: 40px;
  font-family: 'gluten',cursive;
}
#video{
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1%;
  border-top: 1px groove rgba(127,127,127,0.275);
  transition-delay: 2s;
  transition: width 2s, opacity 2s;
  transition-timing-function: ease-in-out;
  margin-top: 45%;
}
#video-play{
  position: center; 
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    min-width: 30%; 
    min-height: 10%;
    width: 100%; 
    height: auto; 
  
    background-size: cover;
    border-radius: 2px;
    
}
#video-pause{
  color: white;
  font-size: 20px;
  padding-left: 20.5%;
}
#videoplay-btn{
  color: white;
  font-size: 18px;
  padding-left: 20.5%;
}
#home-btn{
  color:rgb(0,230,233);
  font-size: 25px;
  margin-top: 40%;
  
  
}
#replay-btn{
  color: white;
  font-size: 17px;
  margin-left: 15%;
}
@media(orientation:landscape){
  #page{
    display: none;
  }
  #stop-landscape{
  position: relative;
  left: 0px;
  top: 0px;
  height: 1300px;
  font-family: 'gluten',cursive;
  color: red;
  background:linear-gradient(to right, rgb(245,255,13),rgb(0,230,233)) ;
  font-size: 19px;
  padding: 25px 0px 35px 0px;
  


  
}
img{
  object-fit: cover;
  background-size: cover;
  position: center;
  height: auto;
  width: 100px;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: multiply;
}
}
                                                             
