#stop-landscape{
  visibility: hidden;
  max-height: 0px;
}
*{
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: auto;
  overflow-y: scroll;
  
}
body{
  background: black;
  overflow: auto;
  overflow-y: scroll;
  color:white;
}
.white-key{
 touch-action: none;
 width: 167.5px;
 height: 12vh;
 background: white;
 margin: 0px;
 border: 1px inset rgb(135,135,135);
 margin-left: 0px;
 border-radius: 4px 4px 4px 4px;
 color: red;
}
.keyboard{
  opacity: 1;
  background: linear-gradient( to right,rgb(0,169,170),rgb(89,111,112));
  color: white;
  padding-right: 0;
  display: block;
  width: 50%;
  
  
}
#wrapper{
  position: relative;
}
#fullscreen-button{
  background: rgb(132,150,151);
  font-family: 'comfortaa',cursive;
  font-size: 10px;
  color: black;
  border: none;
  width: 70px;
  height: 5vh;
  font-weight: 700;
  border-radius: 1px;
  position: fixed;
  transform: translate(-50%,-50%)rotate(90deg);
  right: 70px;
bottom: 2%;
  z-index: 1;
}
option{
  font-family: 'comfortaa',cursive;
  font-size: 10px;
}
#home-btn{
  color:rgb(132,150,151);
  font-size: 25px;
  margin-top: 0%;
  position: fixed;
  transform: translate(-50%,-50%)rotate(90deg);
  right: 10px;
  top: 8%;
  z-index: 1;
  
}
#startTutor{
  position: fixed;
  transform: translate(-50%,-50%)rotate(90deg);
  right: 70px;
  top: 8%;
  font-size: 30px;
  color: #ddff10;
  z-index: 1;
  
}
#start-quiz{
  position: fixed;
  transform: translate(-50%,-50%)rotate(90deg);
  width: 70px;
  height: 5vh;
  font-weight: 900;
  font-family: 'comfortaa',cursive;
  top: 8%;
  right: 90px;
  font-size: 10px;
  background:linear-gradient(to right, rgb(245,255,13),rgb(0,230,233)) ;
  border: none;
  color: rgba(255,14,14,0.73);
  z-index: 1;
}
#speed-select{
  background: rgb(132,150,151);
  font-family: 'comfortaa',cursive;
  font-size: 10px;
  color: black;
  border: none;
  width: 70px;
  height: 5vh;
  font-weight: 700;
  border-radius: 1px;
  position: fixed;
  transform: translate(-50%,-50%)rotate(90deg);
  bottom: 2%;
  visibility: hidden;
  right: -35px;
}
#bar-select{
  background: rgb(132,150,151);
  font-family: 'comfortaa',cursive;
  font-size: 10px;
  color: black;
  border: none;
  width: 70px;
  height: 5vh;
  font-weight: 700;
  border-radius: 1px;
  position: fixed;
  right: 10px;
  z-index: 1;
  transform: translate(-50%,-50%)rotate(90deg);
  bottom: 2%;
  right: 10px;
}
#wrapper{
  position: relative;
}
#piano{
  position: relative;
  min-height: 100px;
  padding-top: 0px;
  border-radius: 2%;
  width: 50%;
  border: 1px outset rgb(89,111,112);
  margin-right: 0;

  overflow: scroll;
  border-left: 1px inset rgb(0,230,233);
}
.black-key{
  touch-action: none;
  background: black;
  width: 55.5%;
  height: 10vh;
  margin: 2px;
  margin-right: .5px;
  position: absolute;
  left: 38%;
  border-radius:  15% 5% 5% 15% ;
  border:2px outset #424242;
  border-right:2px solid black;
  border-left: 7px solid #556265;
  border-bottom: .5px outset #677a7e;
}
#csharp-key{
  top: 5%;
  
}
#dsharp-key{
  top: 15%;
}
#fsharp-key{
  top: 31%;
}
#gsharp-key{
  top: 41%;
}
#asharp-key{
  top: 51%;
}
#csharphigh-key{
  top: 68%;
  
}
#dsharphigh-key{
  top: 78.5%;
  
}
#piano{
  text-align: left;
}
#do-solfa-text{
  color: #1dff07;
  font-size: 20px;
  user-select: none;
  width: 50px;
  margin-left: -9px;
  margin-top: 27px;
}
#re-solfa-text{
  color: red;
  font-size: 20px;
  user-select: none;
  width: 50px;
  margin-left: -9px;
  margin-top: 27px;
  transform: rotate(51.428deg);
}
#me-solfa-text{
  color: #07e2ff;
  user-select: none;
  width: 50px;
  margin-left: -9px;
  margin-top: 27px;
  transform: rotate(102.85deg);
}
#fa-solfa-text{
  color: #dede00;
  user-select: none;
  width: 50px;
  margin-left: -9px;
  margin-top: 27px;
  transform: rotate(154.27deg);
}
#so-solfa-text{
  color: #ff0754;
  user-select: none;
  width: 50px;
  margin-left: -9px;
  margin-top: 27px;
  transform: rotate(205.69deg);
}
#la-solfa-text{
  color: #ff8107;
  user-select: none;
  width: 50px;
  margin-left: -9px;
  margin-top: 27px;
transform: rotate(257.11deg);
}
#ti-solfa-text{
  color: blue;
  user-select: none;
  width: 50px;
  margin-left: -9px;
  margin-top: 27px;
  transform: rotate(308.53deg);
}
.white-key div{
  width: 10px;
  
  margin: 20px;
  font-family: "Gluten", cursive;
  
}
#illustration{
 /** position: absolute;**/
  width: 310px;
  height: 162px;
  transform: rotate(90deg);
  top: 37.5%;
  left: 119px;
  mix-blend-mode: screen;
  display: flex;
  position: fixed;
  overflow: hidden;
  opacity: 1;
  background: rgba(127,127,127,0.275);
  border-radius: 5%;
  border-top: 1px groove rgba(127,127,127,0.275);
  border-bottom: .5px inset grey;
  border-left: .5px inset grey;
  border-right: .5px inset grey;
  border-radius: 4px;
  padding-bottom: 0.5px;
  

  
}
.illustration-vid{
  width: 310px;
  height: auto;
  position: relative;
top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-left: 0px;

  object-fit: cover;
  background-size: cover;
  
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    min-width: 30%; 
    min-height: 10%;
    width: 100%; 
    height: auto; 
  
    background-size: cover;
    border-radius: 7px;
}
.cloud{
  width: 225px;
  height: auto;
  object-fit: cover;
  background-size: cover;
  
  border-radius: 5px;
  position: absolute;
  left: 95px;
  top: 5px;
}
#text{
  position: absolute;
  color: black;
  font-size: 30px;
  top: 65px;
  left: 128px;
  font-family: 'gluten',cursive;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'gluten',cursive !importantimportant;
}
option{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
}
@media(orientation:landscape){
  body{
    width: 60%;
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
    
  }
  #wrapper{
    display: none;
  }
  #page{
    display: none;

  }
  #stop-landscape{
  visibility: visible;
  height: 800px;
  max-height: 1000px;
  font-family: 'gluten',cursive;
  color: red;
  background:linear-gradient(to right, rgb(245,255,13),rgb(0,230,233)) ;
  font-size: 25px;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 100%;
  padding-top: 20px;
  


  
}
img{
  object-fit: cover;
  background-size: cover;
  position: center;
  height: auto;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: multiply;
}
}
                                                             


